
  .scard{
    align-items: center;
    background-color: #ce3d3d;
    height: 18vh;
  }

  .scard-line{
    margin-right: 4px;
  }
  
  .round{
    border-radius: 15px;
  }

  .head{
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .lead{
    font-weight: 400;
    font-size: 16px;
    width: 65vh;
  }

  .order{
    font-size: 35px;
    font-weight: 600;
}
.text-infooo{
  color: #ce3d3d;
}

.bbttn{
  width: auto;
}
.bbttn:hover{
  background-color: #d28383;
}

/* Modal overlay */
.modal-overlay-000 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal content */
.modal-content-000 {
  background-color: #fff;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.image-container-000 {
  margin: 20px 0;
}
.image-container-000 input{
   display: none;
}
.upload-image-000 {
  width: 100px;
  height: auto;
}



/* Upload button */
.upload-button-000{
 width: auto;
}
.upload-button-000:hover {
  background-color: #d28383;
}

/* Submit button */
.custom-modal-actions-000{
  display: flex;
  flex-direction: row;
}

.custom-btn-close-000{
  margin: 20px;
  width: 20%;
  display: flex;
  justify-content: center;
}
.custom-btn-close-000:hover{
  background-color: #d28383;
}
.custom-btn-submit-000 {
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.custom-btn-submit-000:hover {
  background-color: #d28383;
}


@media screen and (max-width: 760px){
  .scard{
    width: 100%;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
  }
  .text-center{
    margin: 0 0 50px 0;
  }
  .mb-5{
width: 100%;
  }
  .head{
    font-size: 20px;
   }
   .lead{
    width: auto;
   }
.modal-overlay-000{
  width: 100%;
}
}
@media screen and (max-width: 540px){
  .modal-content-000 {
    padding: 15px;
    max-width: 300px;
    width: 95%;
  }

  .modal-body-000 h2 {
    font-size: 1.2rem;
  }

  .modal-body-000 p {
    font-size: 0.9rem;
  }

  .upload-button-000,
  .custom-btn-close-000,
  .custom-btn-submit-000 {
    padding: 8px 10px;
    font-size: 0.9rem;
  }

  .image-container-000 img {
    max-width: 100%;
    height: auto;
  }
  .custom-modal-actions-000{
    width: 100%;
    margin: 0 40px;
  }
}
@media screen and (max-width: 360px){
  .scard{
    width: 100%;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
  }
 .head{
  font-size: 20px;
 }
 .lead{
  width: auto;
 }
  .mb-5{
width: 100%;
  }
  .modal-content-000 {
    padding: 15px;
    max-width: 300px;
    width: 95%;
  }

  .modal-body-000 h2 {
    font-size: 1.2rem;
  }

  .modal-body-000 p {
    font-size: 0.9rem;
  }

  .upload-button-000,
  .custom-btn-close-000,
  .custom-btn-submit-000 {
    padding: 8px 10px;
    font-size: 0.9rem;
  }

  .image-container-000 img {
    max-width: 100%;
    height: auto;
  }
  .custom-modal-actions-000{
    width: 100%;
    margin: 0 40px;
  }
}