 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    position: sticky;
    background: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-menu li {
  margin: 0 20px;
}

.nav-link {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.3s;
}
.nav-link:visited {
  color: whitesmoke;
}
.nav-link:active {
  color: whitesmoke;
}

.nav-link:hover {
  color: #d32f2f;
}

.btn {
  background-color: #FF535D;
  color: white;
}
.btn:hover {
  background-color: rgb(229, 119, 119);
}

.navbar-brand img {
  height: 80px;
  margin: 0 10px;
}
