/* Main styles */
.signup-container-96 {
    margin: 10px;
    border-radius: 8px;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('./Assests/signupimage.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50rem;
}

.signup-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.signup-container img {
    margin-top: -84px;
}

.logo-container {
    margin-bottom: 15px;
    text-align: center;
}

.logo {
    max-width: 100px;
    height: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    margin-top: 23px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input,
select {
    width: 90%;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.radio-group {
    margin-bottom: 20px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.remember-me {
    margin-top: 20px;
}

button {
    text-align: center;
    background-color: #D32F2F;
    color: white;
    border: none;
    padding: 10px 90px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: black;
}

.text span {
    color: #d32f2f;
}

.form-group label {
    color: black;
}

.submitsec p {
    color: black;
    margin: 0 130px;
}

.submitsec p a {
    color: rgb(255, 77, 0);
    font-weight: bold;
}

/* Responsive styles for max-width: 1200px */
@media (max-width: 1200px) {
    .signup-container-96 {
        flex-direction: column;
        height: auto;
        padding: 20px;
        margin-top: 20px;
    }

    .signup-container {
        width: 100%;
        margin-left: 0;
        padding: 20px;
        box-shadow: none;
        margin-top: 25px;
    }

    .signup-container img {
        margin-top: 0;
    }

    .submitsec p {
        margin: 0;
        text-align: center;
    }
}

