 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    position: sticky;
}


.navbar-brand img {
    height: 80px;
    margin: 0 10px;
}
.navbar-menu li {
    margin: 0 20px;
}



